<!-- device test summary -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{smartHomeLayout}">
<head>
<title>Godlike Panel</title>
</head>
<body>
	<span layout:fragment="header"
		th:onclick="|pageRedirect('/godlikePanel')|"  th:text="#{page.title}">Admin Panel</span>

	<div layout:fragment="content">
		<h3 class="info-header" th:text="#{header.connection.test}">Test Connection</h3>		
		<div class="device-card" style="margin-bottom: 100px; padding-bottom: 20px;" th:object="${resource}" >
			<div class="center-80">
				<h1>
					<span th:text="${resource.name}+ ' - '">Resource Name - </span> 
					<span class="data" th:text="${resource.device.address}">Device IP</span>
											<button type="button" class="button" style="font-size: 0.5em;" th:text="#{label.close}"
							th:onclick="|pageRedirect('/godlikePanel/connectionTest')|">Close</button>
				</h1>
				<div class="separator-blue"></div>
			
					<div th:if="${resource.class.simpleName == 'FloatResource'}" th:class="${resource.currentState}!=null? 'row-green': 'row-red'">					
					<h2>
						<span th:text="${resource.resource}">FloatingPointResource</span>
						<span class="data" th:if="${resource.readOnly}" th:text="#{label.read.only}">Read Only</span>						
					</h2>
					<table class="full_table">
						<tr>
							<th style="padding-right: 30px;">
							<label th:text="#{label.value.min}+' : '" th:class="form-label">on value</label>
							<label th:text="${resource.minValue}">on value</label>
							</th>
							<th style="padding-right: 30px;">
							<label th:text="#{label.value.max}+' : '" th:class="form-label">off value</label>
							<label th:text="${resource.maxValue}">off value</label>
							</th>
							<th style="padding-right: 30px;">
							<label th:text="#{label.value.current} +' : '" th:class="form-label">current state</label>
							<label th:text="${resource.currentState}!=null? ${resource.currentState} : #{label.value.not.available}">current state</label>
							</th>
						</tr>
					</table>
					</div>
					
					<div th:if="${resource.class.simpleName == 'IntegerResource'}" th:class="${resource.currentState}!=null? 'row-green': 'row-red'">					
					<h2>
						<span th:text="${resource.resource}">IntegerResource</span>
						<span class="data" th:if="${resource.readOnly}" th:text="#{label.read.only}">Read Only</span>	
					
					</h2>
					<table class="full_table">
						<tr>
							<th style="padding-right: 30px;">
							<label th:text="#{label.value.min}+' : '" th:class="form-label">on value</label>
							<label th:text="${resource.minValue}">on value</label>
							</th>
							<th style="padding-right: 30px;">
							<label th:text="#{label.value.max}+' : '" th:class="form-label">off value</label>
							<label th:text="${resource.maxValue}">off value</label>
							</th>
							<th style="padding-right: 30px;">
							<label th:text="#{label.value.current} +' : '" th:class="form-label">current state</label>
							<label th:text="${resource.currentState}!=null? ${resource.currentState} : #{label.value.not.available}">current state</label>
							</th>
						</tr>
					</table>
					</div>
					
					<div th:if="${resource.class.simpleName == 'BooleanResource'}" th:class="${resource.currentState}!=null? 'row-green': 'row-red'">
					<h2>
						<span th:text="${resource.resource}">BooleanResource</span>
						<span class="data" th:if="${resource.readOnly}" th:text="#{label.read.only}">Read Only</span>
					</h2>
					<table class="full_table">
						<tr>
							<th style="padding-right: 30px;">
							<label th:text="#{label.value.on}+' : '" th:class="form-label">on value</label>
							<label th:text="${resource.onLabel}">on value</label>
							</th>
							<th style="padding-right: 30px;">
							<label th:text="#{label.value.off}+' : '" th:class="form-label">off value</label>
							<label th:text="${resource.offLabel}">off value</label>
							</th>
							<th style="padding-right: 30px;">
							<label th:text="#{label.value.current} +' : '"  th:class="form-label" >current state</label>
							<label th:text="${resource.currentState}!=null? ${resource.currentState} : #{label.value.not.available}">current state</label>
							</th>
						</tr>
					</table>
					</div>
					
					<div th:if="${resource.class.simpleName == 'CharacterResource'}" th:class="${resource.currentState}!=null? 'row-green': 'row-red'">
					<h2>
						<span th:text="${resource.resource}">CharacterResource</span>
						<span class="data" th:if="${resource.readOnly}" th:text="#{label.read.only}">Read Only</span>
					</h2>
					<table class="full_table">
						<tr>
							<th style="padding-right: 30px;">
								<label th:text="#{label.length}+' : '"  th:class="form-label">max length</label>
								<label th:text="${resource.maxLength}">max length</label>
							</th>
							<th style="padding-right: 30px;">
								<label th:text="#{label.value.current} +' : '"  th:class="form-label">current state</label>
								<label th:text="${resource.currentState}!=null? ${resource.currentState} : #{label.value.not.available}">current state</label>
							</th>
						</tr>
					</table>
					</div>
					</div>
			</div>
	</div>
</body>
</html>