<!-- test details -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{smartHomeLayout}">
<head>
<title>Godlike Panel</title>
</head>
<body>
	<span layout:fragment="header"
		th:onclick="|pageRedirect('/godlikePanel')|" th:text="#{page.title}">Admin Panel</span>

	<div layout:fragment="content">
		<h3 class="info-header" th:text="#{header.connection.test}">Test Connection</h3>		
		<div class="device-card" style="margin-bottom: 100px; padding-bottom: 20px;" th:object="${resource}" >
		<div id="circle"></div>
			<div class="center-80">
				<h1>
					<span th:text="${resource.name}+ ' - '">Resource Name - </span> 
					<span class="data" th:text="${resource.device.address}">Device IP</span>
				</h1>
				<div class="separator-blue"></div>
			
					<div th:if="${resource.class.simpleName == 'FloatResource'}" th:class="row-light">					
					<form th:object="${resource}" th:action="@{/godlikePanel/testDetails/float/} +${resource.device.id}"  method="POST" th:onsubmit="|showCircle()|">	
					<input class="form-button" type="submit" value="Add" th:value="#{label.test}" /><br/>
					<h2>
						<span th:text="${resource.resource}">Float Resource</span>
						<span class="data" th:if="${resource.readOnly}" th:text="#{label.read.only}">Read Only</span>						
					</h2>
					<table class="full_table">
							<tr>
							<th style="padding-right: 30px;">
							<label th:text="#{label.value.min}+' : '" th:class="form-label">on value</label>
							<label th:text="${resource.minValue}">on value</label>
							</th>
							<th style="padding-right: 30px;">
							<label th:text="#{label.value.max}+' : '" th:class="form-label">off value</label>
							<label th:text="${resource.maxValue}">off value</label>
							</th>
							<th style="padding-right: 30px;">
							<label th:text="#{label.value.test}"  th:class="form-label" th:if="${!resource.readOnly}">current state</label>
							<input th:field="${resource.currentState}" type="number" step="0.01" 
								 th:min="${resource.minValue}" th:max="${resource.maxValue}" th:if="${!resource.readOnly}" />
							</th>
							</tr>
					</table>	
					 	<input type="hidden"  th:field="*{id}" >								
						<input type="hidden"  th:field="*{name}" >						
						<input type="hidden"  th:field="*{resource}">
						<input type="hidden" th:checked="*{readOnly}" th:field="*{readOnly}" >						
						<input type="hidden" step="0.01"  th:field="*{minValue}" >
						<input type="hidden" step="0.01" th:field="*{maxValue}">
						<input type="hidden"  th:field="*{currentState}"  th:if="${resource.readOnly}" value="0" >
					 </form>
					</div>
					
					<div th:if="${resource.class.simpleName == 'IntegerResource'}" th:class="row-light">					
					<form th:object="${resource}" th:action="@{/godlikePanel/testDetails/integer/} +${resource.device.id}"  method="POST" th:onsubmit="|showCircle()|">	
					<input class="form-button" type="submit" value="Add" th:value="#{label.test}"/><br/>
					<h2>
						<span th:text="${resource.resource}">IntegerResource</span>
						<span class="data" th:if="${resource.readOnly}" th:text="#{label.read.only}">Read Only</span>						
					</h2>
					<table class="full_table">
							<tr>
							<th style="padding-right: 30px;">
							<label th:text="#{label.value.min}+' : '" th:class="form-label">on value</label>
							<label th:text="${resource.minValue}">on value</label>
							</th>
							<th style="padding-right: 30px;">
							<label th:text="#{label.value.max}+' : '" th:class="form-label">off value</label>
							<label th:text="${resource.maxValue}">off value</label>
							</th>
							<th style="padding-right: 30px;">
							<label th:text="#{label.value.test}"  th:class="form-label" th:if="${!resource.readOnly}">current state</label>
							<input th:field="${resource.currentState}" type="number" step="1" th:name="currentState"
					 			th:if="${!resource.readOnly}" th:min="${resource.minValue}" th:max="${resource.maxValue}" />
							</th>
							</tr>
					</table>		
						<input type="hidden"  th:field="*{id}" >								
						<input type="hidden"  th:field="*{name}" >						
						<input type="hidden"  th:field="*{resource}">
						<input type="hidden" th:checked="*{readOnly}" th:field="*{readOnly}" >						
						<input type="hidden" step="0.01"  th:field="*{minValue}" >
						<input type="hidden" step="0.01" th:field="*{maxValue}">
						<input type="hidden"  th:field="*{currentState}"  th:if="${resource.readOnly}" value="0" >
					 </form>
					</div>
					
					<div th:if="${resource.class.simpleName == 'BooleanResource'}" th:class="row-light">
					<form th:object="${resource}" th:action="@{/godlikePanel/testDetails/boolean/} +${resource.device.id}"  method="POST" th:onsubmit="|showCircle()|">	
						<input class="form-button" type="submit" value="Add" th:value="#{label.test}" /><br/>
					<h2>
						<span th:text="${resource.resource}">Boolean Resource</span>
						<span class="data" th:if="${resource.readOnly}" th:text="#{label.read.only}">Read Only</span>
					</h2>
					<table class="full_table">
							<tr>
							<th style="padding-right: 30px;">
							<label th:text="#{label.value.on}+' : '" th:class="form-label">on value</label>
							<label th:text="${resource.onLabel}">on value</label>
							</th>
							<th style="padding-right: 30px;">
							<label th:text="#{label.value.off}+' : '" th:class="form-label">off value</label>
							<label th:text="${resource.offLabel}">off value</label>
							</th>
							<th style="padding-right: 30px;">
							<label th:text="#{label.value.test}"  th:class="form-label" th:if="${!resource.readOnly}">current state</label>
							<select th:field="${resource.currentState}"  th:if="${!resource.readOnly}">
								<option th:value="${resource.onLabel}" th:text="${resource.onLabel}">ON</option>
								<option th:value="${resource.offLabel}" th:text="${resource.offLabel}">OFF</option>						
							</select>
							</th>
							</tr>
					</table>					 
					 	<input type="hidden"  th:field="*{id}" >								
						<input type="hidden"  th:field="*{name}" >						
						<input type="hidden"  th:field="*{resource}">
						<input type="hidden" th:checked="*{readOnly}" th:field="*{readOnly}" >						
						<input type="hidden"  th:field="*{onLabel}" >
						<input type="hidden"  th:field="*{offLabel}">
						<input type="hidden"  th:field="*{currentState}"  th:if="${resource.readOnly}" value="0" >
					 </form>
					</div>
					
					<div th:if="${resource.class.simpleName == 'CharacterResource'}" th:class="row-light">
					<form th:object="${resource}" th:action="@{/godlikePanel/testDetails/character/} +${resource.device.id}"  method="POST" th:onsubmit="|showCircle()|">	
						<input class="form-button" type="submit" value="Test" th:value="#{label.test}" /><br/>
					<h2>
						<span th:text="#{label.value.test}">CharacterResource</span>
						<span class="data" th:if="${resource.readOnly}" th:text="#{label.read.only}">Read Only</span>
					</h2>
					<table class="full_table">
						<tr>
							<th style="padding-right: 30px;">
								<label th:text="#{label.length}+' : '"  th:class="form-label">max length</label>
								<label th:text="${resource.maxLength}">max length</label>
							</th>
							<th style="padding-right: 30px;">
								<label th:text="#{label.value.test}" th:if="${!resource.readOnly}"  th:class="form-label">current state</label>
								<input type="text"  th:field="*{currentState}" th:if="${!resource.readOnly}" th:maxlength="${resource.maxLength}" >
							</th>
						</tr>
					</table>			
					 	<input type="hidden"  th:field="*{id}" >								
						<input type="hidden"  th:field="*{name}" >						
						<input type="hidden"  th:field="*{resource}">
						<input type="hidden" th:checked="*{readOnly}" th:field="*{readOnly}" >						
						<input type="hidden" th:field="*{maxLength}" > 
						<input type="hidden"  th:field="*{currentState}"  th:if="${resource.readOnly}" value="0" >
					 </form>
					</div>
					</div>						
			</div>
	</div>
</body>
</html>