<!-- Display all device resources -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{smartHomeLayout}">
<head>
<title>Godlike Panel</title>
</head>
<body>
	<span layout:fragment="header"
		th:onclick="|pageRedirect('/godlikePanel')|" th:text="#{page.title}">Admin Panel</span>

	<div layout:fragment="content">
		<h3 class="info-header" th:text="#{header.connection.test}">Rest Api
			Devices</h3>
				
		<div class="device-card" th:each="resource : ${deviceResources}" th:onclick="|pageRedirect('/godlikePanel/testDetails/${resource.id}')|">
			<h1>
				<span th:text="${resource.name}">Resource Name </span> <br/>
			</h1>
			<div class="separator-blue"></div>
			<h2>
				<span class="data" th:text="${resource.device.name}">Resource Name </span> <br/>
				<span class="data" th:text="${resource.device.address}">Device IP</span>
			</h2>
		</div>

	</div>
</body>
</html>