<!-- Administration panel main page -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{smartHomeLayout}">
<head>
<title>Godlike Panel</title>
</head>
<body>
	<span layout:fragment="header" th:text="#{page.title}">Admin Panel</span>

	<div layout:fragment="content">
	<div th:include="godlikePanel/menu :: admin-menu"></div>
		<!-- Rest Device -->
		<div class="menu-img"
			th:onclick="|pageRedirect('/godlikePanel/restDevices')|">
<!-- 			<img
				src="https://thewire.in/wp-content/uploads/2017/11/space-1728314_1920.jpg"
				alt="Rest Device"> -->
			<div style="border: 3px solid #1040c0;"></div>	
			<div class="name">
				<p th:text="#{header.device.rest}">Rest Api Device</p>
			</div>
			<div style="border: 2px solid #1040c0;"></div>	
		</div>
		<!-- Connection test  -->
		<div class="menu-img"
			th:onclick="|pageRedirect('/godlikePanel/connectionTest')|">
	<!-- 		<img
				src="https://thewire.in/wp-content/uploads/2017/11/space-1728314_1920.jpg"
				alt="Connection test"> -->
			<div style="border: 3px solid #1040c0;"></div>	
			<div class="name">
				<p th:text="#{header.connection.test}">Connection Test</p>
			</div>
			<div style="border: 2px solid #1040c0;"></div>	
		</div>
		<!-- events  -->
		<div class="menu-img" 
			th:onclick="|pageRedirect('/godlikePanel/events')|">
				<!-- src="/img/eyes.png"  -->
	<!-- 		<img src="/img/icon-events.svg"
				style="width: 100%;height: auto;overflow: hidden;"
				alt="Connection test"> -->
			<div style="border: 3px solid #23c12c;"></div>	
			<div class="name">
				<p th:text="#{header.events}">Events</p>
			</div>
			<div style="border: 2px solid #23c12c;"></div>	
		</div>
		<!-- Monthly Usage  -->
		<div class="menu-img"
			th:onclick="|pageRedirect('/godlikePanel/monthlyUsage')|">
			<!-- <img
				src="/img/icon-usage.svg"
				style="width: 100%;height: auto;overflow: hidden;"
				alt="Monthly Usage"> -->
			<div style="border: 3px solid #23c12c;"></div>	
			<div class="name">
				<p th:text="#{header.monthly.usage}">Monthly Resource Usage</p>
			</div>
			<div style="border: 2px solid #23c12c;"></div>	
		</div>
		<!-- Resource trigger  -->
		<div class="menu-img"
			th:onclick="|pageRedirect('/godlikePanel/triggers')|">
		<!-- 	<img
				src="https://thewire.in/wp-content/uploads/2017/11/space-1728314_1920.jpg"
				alt="Resource trigger"> -->
			<div style="border: 3px solid #FFA500;"></div>	
			<div class="name">
				<p th:text="#{header.triggers}">Resource trigger</p>
			</div>
			<div style="border: 2px solid #FFA500;"></div>	
		</div>
	</div>
</body>
</html>