<!-- Administration panel main page -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<div th:fragment="admin-menu">
	<div th:class="page-menu">
		<a href="/" th:class="${#request.requestURI}=='/'?'active':''" th:text="#{menu.devices}">Devices</a>
		<a href="/control" th:class="${#request.requestURI}=='/control'?'active':''" th:text="#{menu.devices.control}">Devices Control</a>
		<div class="page-menu-right">		
   			<form  method="post" th:action="@{/logout}">
        		<button type="submit" th:class="button" th:text="#{page.logout}">Log Out</button>
      		</form>
    	</div>
	</div>
</div>
</body>
</html>