<!-- Administration panel main page -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{smartHomeLayout}">
<head>
<title>Godlike Panel</title>
</head>
<body>
	<span layout:fragment="header"
		th:onclick="|pageRedirect('/godlikePanel')|" th:text="#{page.title}">Admin Panel</span>

	<div layout:fragment="content">
		<h1 th:text="#{header.events}" class="info-header">EVENTS</h1>
		<table class="statistic_table">
			<thead>
				<tr>
					<th th:text="#{label.date}">Event Date</th>
					<th th:text="#{label.event.owner}">Event Owner</th>
					<th th:text="#{label.event.object}">Event Object</th>
				</tr>
				<tr>
					<th colspan="3" th:text="#{label.event.info}" >Event Info</th>
				</tr>
			</thead>
			<tbody th:each="event,index : ${eventsList}" >
				
				<tr>
					<th th:text="${{event.eventDate}}" th:class="${index.even} ?'even' : 'odd'">Event Date</th>
					<th th:text="${event.eventOwner}" th:class="${index.even} ?'even' : 'odd'">Event Owner</th>
					<th th:text="${event.eventObject}" th:class="${index.even} ?'even' : 'odd'">Event Object</th>
				</tr>
				<tr>
					<th colspan="3" th:text="${event.eventInfo}" th:class="${index.even} ?'even' : 'odd'">Event Info</th>
				</tr>
			</tbody>
		</table>
		<div style="margin: 30px;"></div>
	</div>
</body>
</html>