<!-- Administration panel main page -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{smartHomeLayout}">
<head>
<title>Godlike Panel</title>
</head>
<body>
	<span layout:fragment="header"
		th:onclick="|pageRedirect('/godlikePanel')|" th:text="#{page.title}">Admin Panel</span>

	<div layout:fragment="content">
		<h1 th:text="#{header.monthly.usage}" class="info-header">Monthly
			Usage</h1>

		<table class="statistic_table">
			<thead>
				<tr>
					<th th:text="#{label.year}">Year</th>
					<th th:text="#{label.month}">Month</th>
					<th th:text="#{label.name}">Resource Name</th>
					<th th:text="#{label.usage.count}">Count</th>
				</tr>
			</thead>
			<tbody th:each="usage,index : ${usageList}">
				<tr>
					<th th:text="${usage.year}"
						th:class="${index.even} ?'even' : 'odd'">Year</th>
					<th th:text="${usage.month}"
						th:class="${index.even} ?'even' : 'odd'">Month</th>
					<th th:text="${usage.deviceResource.name}"
						th:class="${index.even} ?'even' : 'odd'">Resource Name</th>
					<th th:text="${usage.usageCount}"
						th:class="${index.even} ?'even' : 'odd'">Count</th>
				</tr>
			</tbody>
		</table>
		<div style="margin: 30px;"></div>
	</div>	
</body>
</html>