<!-- Page with form allow add new rest device -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{smartHomeLayout}">
<head>
<title>Godlike Panel</title>
</head>
<body>
	<span layout:fragment="header"
		th:onclick="|pageRedirect('/godlikePanel')|"  th:text="#{page.title}">Admin Panel</span>

	<div layout:fragment="content">
		<h3 class="info-header" th:text="#{label.load.from.file}">New
			Devices From Config File</h3>

		<div class="device-card">
			<div class="center-80">
				<h3 th:if="${errorStatus == 'file'}" th:text="#{label.load.file.incorrect}">Incorrect file</h3>
				<h3 th:if="${errorStatus == 'address'}" th:text="#{info.ip.address.used}">Address is not available</h3>
				<div th:if="${device != null}">
				
				<h1>
					<span th:text="${device.name}+ ' - '">Device Name - </span> 
					<span class="data" th:text="${device.address}">Device IP</span>
					<button type="button" class="button" style="font-size: 0.5em;" th:text="#{label.close}"
							th:onclick="|pageRedirect('/godlikePanel/restDevices')|">Close</button>
				</h1>
				<div class="separator-blue"></div>
				<table class="statistic_table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Resource</th>
					<th>Read Only</th>
				</tr>
			</thead>
			<tbody th:each="resource,index : ${device.resources}">
				<tr>
					<th th:text="${resource.name}"
						th:class="${index.even} ?'even' : 'odd'">Name</th>
					<th th:text="${resource.resource}"
						th:class="${index.even} ?'even' : 'odd'">Resource</th>
					<th th:text="${resource.readOnly}? #{label.yes} :#{label.no}"
						th:class="${index.even} ?'even' : 'odd'">Read Only</th>
				</tr>
			</tbody>
		</table>
		<div class="separator-blue"></div>
				<textarea class="form-input" rows="6" cols="50" disabled="disabled" placeholder="Device description"
				 th:field="${device.description}" id="description"></textarea><br/>
				
				</div>
			</div>
		</div>
		
	</div>
</body>
</html>