<!-- Page with form allow add new rest device -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{smartHomeLayout}">
<head>
<title>Godlike Panel</title>
</head>
<body>
	<span layout:fragment="header" th:onclick="|pageRedirect('/godlikePanel')|" th:text="#{page.title}">Admin Panel</span>

	<div layout:fragment="content">
		<h3 class="info-header" th:text="#{label.load.from.file}">New Devices From Config File</h3>

		<div class="new-device-card">
		<div class="center-80">
			<form enctype="multipart/form-data" th:action="@{/godlikePanel/fileConfig}" method="POST">			
				<input class="form-button" type="submit" value="Next" th:value="#{label.next}" /><br/>
				
          <label for="file" class="form-label" th:text="#{label.load.from.file.open}" >Select a configuration file</label><br/>
          <input type="file" class="form-input" name="file" id="file" accept=".csv" required/>				
			</form>	
			</div>		
</div>
	</div>
</body>
</html>