<!-- Page with form allow add new rest device -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{smartHomeLayout}">
<head>
<title>Godlike Panel</title>
</head>
<body>
	<span layout:fragment="header" th:onclick="|pageRedirect('/godlikePanel')|"  th:text="#{page.title}">Admin Panel</span>

	<div layout:fragment="content">
		<h3 class="info-header" th:text="#{header.device.new}">New Devices</h3>

		<div class="new-device-card">
		<div class="center-80">
			<form th:object="${restDevice}" th:action="@{/godlikePanel/newRestDevice}"  method="POST" id="new-rest-device">			
				<input class="form-button" type="submit" value="Add" th:value="#{label.add}" /><br/>
				<input type="hidden" th:field="*{id}"/>
				<label class="form-label" th:text="#{label.name}" for="name">Name</label><br/>
				<input class="form-input" type="text"  th:field="*{name}" id="name"><br/>

				<label class="form-label" th:text="#{label.ip.address}" for="address">IP Address</label><br/>
				<input class="form-input" type="text" placeholder="xxx.xxx.xxx.xxx"  th:field="*{address}"  id="address"><br/>
				
				<label class="form-label" th:text="#{label.description}" for="description">Description</label><br/>
				<textarea class="form-input" rows="6" cols="50" placeholder="Device description"
				 th:field="*{description}" th:placeholder="#{info.description.device}" id="description"></textarea><br/>	
										
			</form>	
			</div>		
</div>
	</div>
</body>
</html>