<!-- Page with form used for add resources for existing device-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{smartHomeLayout}">
<head>
<title>Godlike Panel</title>
</head>
<body>
	<span layout:fragment="header"
		th:onclick="|pageRedirect('/godlikePanel')|"  th:text="#{page.title}">Admin Panel</span>

	<div layout:fragment="content">
		<h3 class="info-header" th:text="${resource.device.name}">Add
			Driver or Sensor</h3>

		<div class="new-device-card" th:object="${device}">
			<div class="center-80">				
				<!-- Form using for add new  CharacterResource-->
				<div th:if="${resource.class.simpleName == 'CharacterResource'}">
					<form th:object="${resource}" th:action="@{/godlikePanel/deviceResource/characterResource/} +${resource.device.id}"  method="POST">	
						<input type="hidden" th:field="*{id}"/>		
						<input class="form-button" type="submit" value="Add" th:value="#{label.add}" /><br/>
						
						<label class="form-label" th:text="#{label.name}" for="name">Name</label><br/>
						<input class="form-input" type="text"  th:field="*{name}" id="name" th:placeholder="#{info.resource.name}"><br/>
						
						<label class="form-label" th:text="#{label.resource}" for="resource">Resource</label><br/>
						<input class="form-input" type="text"  th:field="*{resource}" id="resource" th:placeholder="#{info.resource}"><br/>
						
						<label class="form-label" th:text="#{label.read.only}" for="readOnly">Read Only</label><br/>
						<input class="form-input" type="checkbox" th:checked="*{readOnly}" th:field="*{readOnly}" id="readOnly"><br/>
												
						<label class="form-label" th:text="#{label.length}" for="maxLength">Min Value</label><br/>
						<input class="form-input" type="number" step="1" min="1" value="1" th:field="*{maxLength}" id="maxLength"><br/>

					</form>
				</div>
				<!-- Form using for add new  CharacterSwitchResource -->
				<div
					th:if="${resource.class.simpleName == 'BooleanResource'}">
					<form th:object="${resource}" th:action="@{/godlikePanel/deviceResource/booleanResource/} +${resource.device.id}"  method="POST">	
						<input type="hidden" th:field="*{id}"/>		
						<input class="form-button" type="submit" value="Add" th:value="#{label.add}" /><br/>
						
						<label class="form-label" th:text="#{label.name}" for="name">Name</label><br/>
						<input class="form-input" type="text"  th:field="*{name}" id="name" th:placeholder="#{info.resource.name}"><br/>
						
						<label class="form-label" th:text="#{label.resource}" for="resource">Resource</label><br/>
						<input class="form-input" type="text"  th:field="*{resource}" id="resource" th:placeholder="#{info.resource}"><br/>
						
						<label class="form-label" th:text="#{label.read.only}" for="readOnly">Read Only</label><br/>
						<input class="form-input" type="checkbox" th:checked="*{readOnly}" th:field="*{readOnly}" id="readOnly"><br/>
						
						<label class="form-label" th:text="#{label.value.on}" for="onValue">Min Value</label><br/>
						<input class="form-input" type="text" th:field="*{onLabel}" id="onValue"><br/>
				
						<label class="form-label" th:text="#{label.value.off}" for="offValue">Max Value</label><br/>
						<input class="form-input" type="text"  th:field="*{offLabel}" id="offValue"><br/>

					</form>
				</div>
				<!-- Form using for add new IntegerResource-->
				<div
					th:if="${resource.class.simpleName == 'IntegerResource'}">
					<form th:object="${resource}" th:action="@{/godlikePanel/deviceResource/integerResource/} +${resource.device.id}"  method="POST">	
						<input type="hidden" th:field="*{id}"/>		
						<input class="form-button" type="submit" value="Add" th:value="#{label.add}" /><br/>
						
						<label class="form-label" th:text="#{label.name}" for="name">Name</label><br/>
						<input class="form-input" type="text"  th:field="*{name}" id="name" th:placeholder="#{info.resource.name}"><br/>
						
						<label class="form-label" th:text="#{label.resource}" for="resource">Resource</label><br/>
						<input class="form-input" type="text"  th:field="*{resource}" id="resource" th:placeholder="#{info.resource}"><br/>
						
						<label class="form-label" th:text="#{label.read.only}" for="readOnly">Read Only</label><br/>
						<input class="form-input" type="checkbox" th:checked="*{readOnly}" th:field="*{readOnly}" id="readOnly"><br/>
						
						<label class="form-label" th:text="#{label.value.min}" for="minValue">Min Value</label><br/>
						<input class="form-input" type="number" step="1"  th:field="*{minValue}" id="minValue"><br/>
				
						<label class="form-label" th:text="#{label.value.max}" for="maxValue">Max Value</label><br/>
						<input class="form-input" type="number" step="1" th:field="*{maxValue}" id="maxValue"><br/>
					</form>
				</div>
				<!-- Form using for add new  FloatingPointResource-->
				<div
					th:if="${resource.class.simpleName == 'FloatResource'}">
					<form th:object="${resource}" th:action="@{/godlikePanel/deviceResource/floatResource/}+${resource.device.id}"  method="POST">		
						<input type="hidden" th:field="*{id}"/>	
						<input class="form-button" type="submit" value="Add" th:value="#{label.add}" /><br/>
						
						<label class="form-label" th:text="#{label.name}" for="name">Name</label><br/>
						<input class="form-input" type="text"  th:field="*{name}" id="name" th:placeholder="#{info.resource.name}"><br/>
						
						<label class="form-label" th:text="#{label.resource}" for="resource">Resource</label><br/>
						<input class="form-input" type="text"  th:field="*{resource}" id="resource" th:placeholder="#{info.resource}"><br/>
						
						<label class="form-label" th:text="#{label.read.only}" for="readOnly">Read Only</label><br/>
						<input class="form-input" type="checkbox" th:checked="*{readOnly}" th:field="*{readOnly}" id="readOnly"><br/>
						
						<label class="form-label" th:text="#{label.value.min}" for="minValue">Min Value</label><br/>
						<input class="form-input" type="number" step="0.01"  th:field="*{minValue}" id="minValue"><br/>
				
						<label class="form-label" th:text="#{label.value.max}" for="maxValue">Max Value</label><br/>
						<input class="form-input" type="number" step="0.01" th:field="*{maxValue}" id="maxValue"><br/>
					</form>
				</div>				
			</div>
		</div>
	</div>
</body>
</html>