<!-- device details -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{smartHomeLayout}">
<head>
<title>Godlike Panel</title>
</head>
<body>
	<span layout:fragment="header"
		th:onclick="|pageRedirect('/godlikePanel')|"  th:text="#{page.title}">Admin Panel</span>

	<div layout:fragment="content">
		<h3 class="info-header" th:text="#{header.device.details}">New
			Device Pin</h3>

		<div class="device-card" style="margin-bottom: 100px; padding-bottom: 20px;" th:object="${deviceDetails}">
			<div class="center-80">
				<h1>
					<span th:text="${deviceDetails.name}+ ' - '">Device Name - </span> 
					<span class="data" th:text="${deviceDetails.address}">Device IP</span>
						<button type="button" class="button" style="font-size: 0.5em;" th:text="#{label.edit}" 
				th:onclick="|pageRedirect('/godlikePanel/editRestDevice/${deviceDetails.id}')|">Edit</button>
				</h1>
				<div class="separator-blue"></div>
				<textarea class="form-input" rows="6" cols="50" disabled="disabled" placeholder="Device description"
				 th:field="${deviceDetails.description}" id="description"></textarea><br/>
				<div class="separator-blue"></div>
				<div class="dropdown">
  
  				<button class="dropbtn" th:text="#{header.resource.add}" >Add Resource</button>
  				<div class="dropdown-content">
    			<a href="#" th:text="#{header.resource.character}"
    				 th:onclick="|pageRedirect('/godlikePanel/deviceResource/CharacterResource/${deviceDetails.id}')|" >Character Resource</a>
   				<a href="#" th:text="#{header.resource.boolean}" 
   					th:onclick="|pageRedirect('/godlikePanel/deviceResource/BooleanResource/${deviceDetails.id}')|">Character Switch Resource</a>
    			<a href="#" th:text="#{header.resource.integer}" 
    				th:onclick="|pageRedirect('/godlikePanel/deviceResource/IntegerResource/${deviceDetails.id}')|">Integer Resource</a>
    			<a href="#" th:text="#{header.resource.float}" 
    				th:onclick="|pageRedirect('/godlikePanel/deviceResource/FloatResource/${deviceDetails.id}')|">Floating Point Resource</a>
  			</div>
		</div>			
				<div th:each="resource,position : ${deviceDetails.resources}" th:class="${position.even}? 'row-dark': 'row-light'">
					<div th:if="${resource.class.simpleName == 'FloatResource'}" th:onclick="|pageRedirect('/godlikePanel/editDeviceResource/${resource.id}')|">
					<h2 class="resource-info">
						<span th:text="${resource.name}">FloatResource Name</span>				
					</h2>
					<h2>
						<span th:text="${resource.resource}">FloatResource</span>
						<span class="data" th:if="${resource.readOnly}" th:text="#{label.read.only}">Read Only</span>						
					</h2>
					<label th:text="#{label.value.min}+' : '" th:class="form-label">min value</label>
					<label th:text="${resource.minValue}">min value</label><br/>
					<label th:text="#{label.value.max}+' : '" th:class="form-label">max value</label>
					<label th:text="${resource.maxValue}">max value</label>
					<h4>
					<a th:href="@{/godlikePanel/deleteDeviceResource/} +${deviceDetails.id}+'/'+ ${resource.id}" th:text="#{label.delete}" class="button button-clear" >Delete</a>
					</h4>
					</div>
					<div th:if="${resource.class.simpleName == 'IntegerResource'}" th:onclick="|pageRedirect('/godlikePanel/editDeviceResource/${resource.id}')|">
					<h2 class="resource-info">
						<span th:text="${resource.name}">IntegerResource Name</span>				
					</h2>
					<h2>
						<span th:text="${resource.resource}">IntegerResource</span>
						<span class="data" th:if="${resource.readOnly}" th:text="#{label.read.only}">Read Only</span>						
					</h2>
					<label th:text="#{label.value.min}+' : '" th:class="form-label">min value</label>
					<label th:text="${resource.minValue}">min value</label><br/>
					<label th:text="#{label.value.max}+' : '" th:class="form-label">max value</label>
					<label th:text="${resource.maxValue}">max value</label>
					<h4>
					<a th:href="@{/godlikePanel/deleteDeviceResource/} +${deviceDetails.id}+'/'+ ${resource.id}" th:text="#{label.delete}" class="button button-clear" >Delete</a>
					</h4>
					</div>
					
					<div th:if="${resource.class.simpleName == 'BooleanResource'}" th:onclick="|pageRedirect('/godlikePanel/editDeviceResource/${resource.id}')|">
					<h2 class="resource-info">
						<span th:text="${resource.name}">BooleanResource Name</span>				
					</h2>
					<h2>
						<span th:text="${resource.resource}">BooleanResource</span>
						<span class="data" th:if="${resource.readOnly}" th:text="#{label.read.only}">Read Only</span>
					</h2>
					<label th:text="#{label.value.on}+' : '" th:class="form-label">on label</label>
					<label th:text="${resource.onLabel}">on value</label><br/>
					<label th:text="#{label.value.off}+' : '" th:class="form-label">off label</label>
					<label th:text="${resource.offLabel}">off value</label>
					<h4>
					<a th:href="@{/godlikePanel/deleteDeviceResource/} +${deviceDetails.id}+'/'+ ${resource.id}" th:text="#{label.delete}" class="button button-clear" >Delete</a>
					</h4>
					</div>
					
					<div th:if="${resource.class.simpleName == 'CharacterResource'}" th:onclick="|pageRedirect('/godlikePanel/editDeviceResource/${resource.id}')|">
					<h2 class="resource-info">
						<span th:text="${resource.name}">CharacterResource Name</span>				
					</h2>
					<h2>
						<span th:text="${resource.resource}">CharacterResource</span>
						<span class="data" th:if="${resource.readOnly}" th:text="#{label.read.only}">Read Only</span>
					</h2>
					 	<label th:text="#{label.length}+' : '" th:class="form-label">max length</label>
					 	<label th:text="${resource.maxLength}">max length</label>
					<h4>
					<a th:href="@{/godlikePanel/deleteDeviceResource/} +${deviceDetails.id}+'/'+ ${resource.id}" th:text="#{label.delete}" class="button button-clear" >Delete</a>
					</h4>
					</div>
				</div>
				<div class="separator-blue" style="margin-top: 10px;"></div>
				
			</div>
		</div>
	</div>

</body>
</html>