<!-- Display all registered device -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{smartHomeLayout}">
<head>
<title>Godlike Panel</title>
</head>
<body>
	<span layout:fragment="header"
		th:onclick="|pageRedirect('/godlikePanel')|" th:text="#{page.title}">Admin Panel</span>

	<div layout:fragment="content">
		<h3 class="info-header" th:text="#{header.device.rest}">Rest Api
			Devices</h3>
		<p>
			<button type="button" class="button" th:text="#{label.new}"
				th:onclick="|pageRedirect('/godlikePanel/newRestDevice')|">New</button>
			<button type="button" class="button" th:text="#{label.load.from.file}"
				th:onclick="|pageRedirect('/godlikePanel/fileConfig')|">Load From File</button>
		</p>

		<div class="device-card" th:each="device : ${restDevices}"
			th:onclick="|pageRedirect('/godlikePanel/deviceDetails/${device.id}')|">
			<h1>
				<span th:text="${device.name}+ ' - '">Device Name - </span>
				 <span class="data" th:text="${device.address}">Device IP</span>
				  <a th:href="@{/godlikePanel/deleteRestDevice/} + ${device.id}" th:text="#{label.delete}" class="button button-clear" style="font-size: 0.6em;" >Delete</a>
			</h1>
			<div class="separator-blue" style="margin-top: 10px;"></div>
			<h1>
				<span class="data" th:text="#{info.sensors.drivers}+' : '">Device
					Count</span> <span th:text="${#lists.size(device.resources)}">Device
					Count</span>
			</h1>
		</div>

	</div>
</body>
</html>