<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{smartHomeLayout}">
<head>
<title>Godlike Panel</title>
</head>
<body>
	<span layout:fragment="header"
		th:onclick="|pageRedirect('/')|"  th:text="#{page.title}">Admin Panel</span>

	<div layout:fragment="content" >
	<div th:include="pages/menu :: page-menu"></div>
	<div id="circle"></div>
	<form action="#" th:action="@{/control_}" th:object="${controlResponse}" method="POST" id="c-form" >
	<input type="hidden" th:field="${controlResponse.resourceId}" id="control-resource-id">
	<input type="hidden" th:field="${controlResponse.value}" id="control-value">
	<!-- Boolean -->
		<div class="device" th:each="resource : ${booleanResources}" 
		th:onclick="showCircle();document.getElementById('control-value').value = /*[[${resource.currentState}]]*/ 'My value';
		document.getElementById('control-resource-id').value = /*[[${resource.id}]]*/ '1258';
		document.getElementById('c-form').submit();">
			<div class="strip-boolean-on" th:if="${resource.currentState ==resource.onLabel}"></div>
			<div class="strip-boolean-off" th:if="${resource.currentState ==resource.offLabel}"></div>
			<div class="box">
				<p th:text="${resource.name}">Name and ip</p>
				<p th:text="${resource.currentState}!=null?${resource.currentState}:#{label.not.responding}" style="color: gray;font-size: 1em;">Value</p>				
			</div>
			<div style="height: 22px;"></div>
		</div>
			<!-- Integer -->
		<div class="device" th:each="resource : ${integerResources}">
			<div class="strip-integer"></div>
			<div class="box">
				<p th:text="${resource.name}">Name and ip</p>
				<p th:id="'integer-value-'+${resource.id}" th:text="${resource.currentState}!=null?${resource.currentState}:#{label.not.responding}" style="color: gray;font-size: 1em;">Value</p>
				<div class="slider-box">
  					<input type="range" min="0" max="100" value="50" class="slider" 
  					 th:min="${resource.minValue}" th:max="${resource.maxValue}" th:value="${resource.currentState}" 
  					 th:oninput="var id='integer-value-'+/*[[${resource.id}]]*/ '1258';
  					             var field=document.getElementById(id); field.innerHTML=this.value;"
  					 th:onchange="showCircle();document.getElementById('control-value').value = this.value;
		                          document.getElementById('control-resource-id').value = /*[[${resource.id}]]*/ '1258';
		                          document.getElementById('c-form').submit();">
				</div>
			</div>
		</div>
			<!-- Float -->
		<div class="device" th:each="resource : ${floatResources}">
			<div class="strip-float"></div>
			<div class="box">
				<p th:text="${resource.name}">Name and ip</p>
				<p th:id="'float-value-'+${resource.id}" th:text="${resource.currentState}!=null?${resource.currentState}:#{label.not.responding}" style="color: gray;font-size: 1em;">Value</p>
				<div class="slider-box">
  					<input type="range" min="1" max="100" value="50" step="0.01" class="slider"
  					 th:min="${resource.minValue}" th:max="${resource.maxValue}" th:value="${resource.currentState}"
  					 th:oninput="var id='float-value-'+/*[[${resource.id}]]*/ '1258';
  					             var field=document.getElementById(id); field.innerHTML=this.value;"
  					 th:onchange="showCircle();document.getElementById('control-value').value = this.value;
		                          document.getElementById('control-resource-id').value = /*[[${resource.id}]]*/ '1258';
		                          document.getElementById('c-form').submit();">
				</div>
			</div>
		</div>
			<!-- Character-->
		<div class="device" th:each="resource : ${characterResources}">
			<div class="strip-character" th:if="${resource.currentState}!=null and ${resource.class.simpleName == 'CharacterResource'}"></div>
			<div class="box">
				<p th:text="${resource.name}">Name and ip</p>
				<p th:text="${resource.currentState}!=null?${resource.currentState}:#{label.not.responding}" style="color: gray;font-size: 1em;">Value</p>
				<input type="text" th:maxlength="${resource.maxLength}" id="character-textfield" 
				th:onkeydown="if (event.keyCode == 13){showCircle();
					          document.getElementById('control-value').value = document.getElementById('character-textfield').value;
							  document.getElementById('control-resource-id').value = /*[[${resource.id}]]*/ '1258';
							  document.getElementById('c-form').submit();							  
							  }"/>
			</div>
		</div>
		<!-- Not correspond devices -->
		<div class="device" th:each="resource : ${notResources}">
			<div class="strip-not" ></div>
			<div class="box">
				<p th:text="${resource.name}">Name and ip</p>
				<p th:text="${resource.currentState}!=null?${resource.currentState}:#{label.not.responding}" style="color: gray;font-size: 1em;">Value</p>
			</div>
			<div style="height: 22px;"></div>
		</div>
		</form>
	</div>
</body>
</html>