<!-- Administration panel main page -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{smartHomeLayout}">
<head>
<title>Godlike Panel</title>
</head>
<body>
	<span layout:fragment="header" th:text="#{page.title}">Admin Panel</span>

	<div layout:fragment="content">
	<div th:include="pages/menu :: page-menu"></div>
	<!-- Boolean -->
		<div class="device" th:each="resource : ${booleanResources}">
			<div class="strip-boolean-on" th:if="${resource.currentState ==resource.onLabel}"></div>
			<div class="strip-boolean-off" th:if="${resource.currentState ==resource.offLabel}"></div>
			<div class="box">
				<!-- <p th:text="${resource.name}+' ('+${resource.device.address}+')'">Name and ip</p> -->
				<p th:text="${resource.name}">Name and ip</p>
				<p th:text="${resource.currentState}!=null?${resource.currentState}:#{label.not.responding}" style="color: gray;font-size: 1em;">Value</p>
			</div>
		</div>
			<!-- Integer -->
		<div class="device" th:each="resource : ${integerResources}">
			<div class="strip-integer"></div>
			<div class="box">
				<p th:text="${resource.name}">Name and ip</p>
				<p th:text="${resource.currentState}!=null?${resource.currentState}:#{label.not.responding}" style="color: gray;font-size: 1em;">Value</p>
			</div>
		</div>
			<!-- Float -->
		<div class="device" th:each="resource : ${floatResources}">
			<div class="strip-float"></div>
			<div class="box">
				<p th:text="${resource.name}">Name and ip</p>
				<p th:text="${resource.currentState}!=null?${resource.currentState}:#{label.not.responding}" style="color: gray;font-size: 1em;">Value</p>
			</div>
		</div>
			<!-- Character-->
		<div class="device" th:each="resource : ${characterResources}">
			<div class="strip-character" th:if="${resource.currentState}!=null and ${resource.class.simpleName == 'CharacterResource'}"></div>
			<div class="box">
				<p th:text="${resource.name}">Name and ip</p>
				<p th:text="${resource.currentState}!=null?${resource.currentState}:#{label.not.responding}" style="color: gray;font-size: 1em;">Value</p>
			</div>
		</div>
		<!-- Not correspond devices -->
		<div class="device" th:each="resource : ${notResources}">
			<div class="strip-not" ></div>
			<div class="box">
				<p th:text="${resource.name}">Name and ip</p>
				<p th:text="${resource.currentState}!=null?${resource.currentState}:#{label.not.responding}" style="color: gray;font-size: 1em;">Value</p>
			</div>
		</div>
	</div>
</body>
</html>