<!-- Administration panel main page -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<div th:fragment="page-menu">
<!-- <label th:text="${#request.requestURI}"></label> -->
<!-- <label th:text="${#locale.language}"></label> -->
	<div th:class="page-menu">
		<a href="/" th:class="${#request.requestURI}=='/'?'active':''" th:text="#{menu.devices}">Devices</a>
		<a href="/control" th:class="${#request.requestURI}=='/control'?'active':''" th:text="#{menu.devices.control}">Devices Control</a> 		
		<div class="page-menu-right">
   			<a href="/godlikePanel" th:text="#{menu.admin.panel}">Godlike Panel</a>
    	</div>
	</div>
</div>
</body>
</html>