@charset "UTF-8";

.body {
	margin: 0px;
	padding-left: 1%;
	padding-right: 1%;
	background-color: #e8f9ff;
	min-width: 900px;
}

.header {
	margin: 0px;
	padding: 0px;
	min-height: 300px;
	height: 300px;
	width: auto;
	object-fit: cover;
	overflow: hidden;
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
	text-shadow: 0 0 8em lime;
	color: transparent;
	background-color: #e1d6c9;
	/*
	*/
	/* background-image:
		url("https://fsmedia.imgix.net/7c/64/de/56/fb79/497e/b8ca/d146bcdd00ab/space-genetics-is-essential-making-life-in-space-work.jpeg");
 */
}

.header .text {
	color: #00b1ff;
	line-height: 400px;
	vertical-align: middle;
	font-size: 7em;
}

.content {
	background-color: #e8f9ff;
	min-height: 60vh;
	margin: 0px;
	padding: 0px;
}

.footer {
	clear: both;
	background-image: linear-gradient(#44454b, #000000);
	padding-top: 10px;
	padding-bottom: 30px;
	margin: 0px;
}

.info {
	padding: 0px;
	margin: 0px;
	font-size: 5.5em;
	color: #C3C3C3;
}

.button {
	background-color: #00b1ff;
	padding: 10px 15px;
	margin: 0px 10px;
	border: 2px solid #00b1ff;
	transition-duration: 0.4s;
	font-size: 1em;
}

.button:hover {
	background-color: white;
	border: 2px solid #00b1ff;
}
.button-clear{
	text-decoration: none;
	color: black; 
	font-weight: normal;
	}

.info-header {
	color: #C3C3C3;
	text-align: center;
	font-size: 2em;
	padding: 10px 15px;
	margin: 0px auto;
	border: none;
	padding: 10px 15px;
}

.menu-img:hover {
	box-shadow: 4px 12px 24px 0 rgba(0, 0, 0, 0.25), 6px 24px 48px 0
		rgba(0, 0, 0, 0.2);
}

.menu-img img {
	width: 100%;
	height: auto;
	margin: 0px;
}

.menu-img .name {
	margin: 0px;
	color: #00b1ff;
	font-weight: bold;
	text-align: center;
	padding: 10px 20px;
	font-size: 1.2em;
	text-align: center;
}

.display-none {
	display: none;
}

.separator {
	border: 2px solid #C3C3C3;
}

.separator-blue {
	border: 2px solid #00b1ff;
}

.height-card-details {
	min-height: 600px;
	height: 600px;
}

.new-device-card {
	min-height: 450px;
	width: 90vw;
	min-width: 900px;
	margin: 20px auto;
	padding-top: 20px;
	box-shadow: 10px 10px 100px 0px rgba(0, 0, 0, 0.75);
}

.new-device-card:hover {
	box-shadow: 10px 20px 100px 0px rgba(0, 0, 0, 0.75);
}

.device-card {
	min-height: 100px;
	width: 98%;
	min-width: 500px;
	margin: 40px auto;
	padding: 0px;
	box-shadow: 10px 10px 100px 0px rgba(0, 0, 0, 0.75);
}

.device-card:hover {
	box-shadow: 10px 20px 100px 0px rgba(0, 0, 0, 0.75);
}

.device-card h1 {
	padding: 5px 10px;
	margin: 0px;
	color: #00b1ff;
	font-size: 2em;
}

.device-card .resource-info {
	padding: 0px;
	margin: 0px;
	font-size: 1.5 em;
	color: #00b1ff;
}

.device-card .data {
	color: grey;
}

.center-80 {
	margin: 0px auto;
	width: 80%;
	padding: 0px;
}

.form-label {
	color: grey;
	text-decoration: underline;
	font-size: 1em;
	margin: 0px;
	padding: 2px;
	font-style: italic;
}

.form-input {
	width: 100%;
	padding: 8px 5px;
	border-radius: 2px;
	border: 2px solid #C3C3C3;
	box-sizing: border-box;
	margin-bottom: 10px;
	margin-top: 10px;
}

.form-input:focus {
	border: 2px solid #00b1ff;
}

.form-button {
	background-color: #00b1ff;
	padding: 10px 15px;
	margin: 0px 10px 20px 10px;
	border: 2px solid #00b1ff;
	cursor: pointer;
}

.form-button:hover {
	background-color: white;
	border: 2px solid #00b1ff;
}

.dialogBox {
	position: fixed;
	z-index: 1;
	overflow: visible;
}

.dialogBox .dialogHeader {
	padding: 2px 16px;
	background-color: #00b1ff;
	color: white;
}

.dropbtn {
	background-color: #00b1ff;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	margin-top: 10px;
	margin-bottom: 10px;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #c7c7c7;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #00b1ff;
}

.row-light {
	margin: 5px 0px;
	padding: 10px 5px;
	background-color: #e1e1e1;
}

.row-dark {
	margin: 5px 0px;
	padding: 10px 5px;
	background-color: #c7c7c7;
}

.row-green {
	margin: 5px 0px;
	padding: 10px 5px;
	background-color: #C4FF79;
}

.row-red {
	margin: 5px 0px;
	padding: 10px 5px;
	background-color: #FFB937;
}

.card {
	position: relative;
	height: 450px;
	width: auto;
	min-width: 900px;
	margin: 80px auto;
	box-shadow: 10px 10px 100px 0px rgba(0, 0, 0, 0.75);
}

.card:hover {
	box-shadow: 10px 20px 100px 0px rgba(0, 0, 0, 0.75);
}

.card .image {
	float: left;
	position: relative;
	left: 30px;
	top: -30px;
	height: 320px;
	width: 530px;
	object-fit: cover;
	overflow: hidden;
	box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
}

.card .image .photo {
	height: 100%;
	width: 100%;
	object-fit: cover;
	overflow: hidden;
}

.card .box {
	margin-left: 600px;
	margin-right: 20px;
}

.card .box h1 {
	padding-top: 15px;
	padding-bottom: 5px;
	margin: 0px;
	font-size: 2em;
	color: #00b1ff;
	font-size: 2em;
}

.card .box h2 {
	padding-top: 8px;
	padding-bottom: 4px;
	margin: 0px;
	font-size: 1.1em;
	color: #C3C3C3;
}

.data {
	color: #4B4B4B;
}

.card .box p {
	text-align: justify;
	padding-top: 5px;
	margin: 0px;
	font-size: 0.9em;
	line-height: 150%;
	color: #4B4B4B;
	font-size: 0.9em;
}

.card h3 {
	position: absolute;
	left: 40px;
	bottom: 60px;
	font-size: 2em;
	color: #C3C3C3;
}

.card h4 {
	position: absolute;
	left: 30px;
	bottom: -100px;
	font-size: 5.5em;
	color: #C3C3C3;
}

.form-header {
	color: #C3C3C3;
	text-align: center;
	font-size: 2em;
	padding: 10px 15px;
	margin: 0px auto;
	border: none;
	padding: 10px 15px;
}

.menu-img {
	padding: 0px;
	width: 30%;
	float: left;
	box-shadow: 2px 6px 12px 0 rgba(0, 0, 0, 0.25), 4px 12px 24px 0
		rgba(0, 0, 0, 0.2);
	margin: 25px 15px;
	background-color: white;
}

.rotary-circle {
	border: 16px dotted #C3C3C3;
	border-radius: 50%;
	border-right: 16px dashed #00b1ff;
	width: 120px;
	height: 120px;
	margin: 0px auto;
	-webkit-animation: spin 2.5s linear infinite;
	animation: spin 2.5s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.statistic_table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

.statistic_table thead th {
background-color: #00b1ff;
	border: 1px solid #C3C3C3;
	text-align: left;
	padding: 8px;
}
 .statistic_table .even  {
	border: 1px solid #C3C3C3;
	background-color: white;
	text-align: left;
	padding: 8px;
}

.statistic_table .odd  {
	background-color: #C3C3C3;
	border: 1px solid #D3D3D3;
	text-align: left;
	padding: 8px;
}
.full_table {
	border-collapse: collapse;
	margin-left:0px;
	width:auto;
	margin-right: auto;
	padding: 0px;
}

.full_table th tr {
	text-align: left;
	padding: 0px;
}

.device {
	padding: 0px;
	width: 30%;
	float: left;
	box-shadow: 2px 6px 12px 0 rgba(0, 0, 0, 0.25), 4px 12px 24px 0
		rgba(0, 0, 0, 0.2);
	margin: 25px 15px;
	background-color: #e1d6c9;
}
.device:hover {
	box-shadow: 4px 12px 24px 0 rgba(0, 0, 0, 0.25), 6px 24px 48px 0
		rgba(0, 0, 0, 0.2);
}
.device .box {
	margin: 0px;
	color: #00b1ff;
	font-weight: bold;
	text-align: center;
	padding: 5px 2px;
	font-size: 1.2em;
}
.strip-integer {
	border: 2px solid #23c12c;
}
.strip-float {
	border: 2px solid #fedc3d;
}
.strip-character {
	border: 2px solid #7c4e20;
}
.strip-boolean-on {
	border: 2px solid #2065a9;
}
.strip-boolean-off {
	border: 2px solid #1040c0;
}
.strip-not {
	border: 2px solid #ff0000;
}
.slider-box {
  width: 100%; 
  margin: 0px;
  padding: 0px;
}

.slider {
  -webkit-appearance: none; 
  appearance: none;
  width: 100%; 
  height: 10px;
  background: #2C2C2C;
  outline: none; 
  opacity: 0.7; 
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1; 
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 25px; 
  height: 20px; 
  background: #00b1ff; 
  cursor: pointer; 
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 20px;
  background: #00b1ff;
  cursor: pointer; 
}
.page-menu {
margin:0px;
padding:0px;	
  overflow: hidden;
  background-color: #2C2C2C;
}
.page-menu a {
  float: left;
  color: #f2f2f2;
  border: 2px solid #2C2C2C;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.page-menu a:hover {
  background-color: white;
  border: 2px solid #00b1ff;
  color: black;
}
.page-menu a.active {
  background-color: #00b1ff;
  border: 2px solid #00b1ff;
  color: white;
}
.page-menu-right {
  float: right;
}
