<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	th:lang="${#locale.language}">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="stylesheet" type="text/css" th:href="@{/css/smartHome.css}" />
<title>Smart Home Login</title>
<style type="text/css">
.form-box{
width: 500px;
height: 320px;
margin: 0px;
min-width: 500px;
max-width: 500px;
background-color:white;
padding: 30px 20px 0px 20px;
float:left;
}
.strip{
width: 150px;
height: 350px;
background-color:grey;
padding: 0px;
float:left;
}
.box{
width: 690px;
height: 350px;
margin: 30vh auto auto auto;
padding: 0px;
}
.image{
width: 150px;
height: 150px;
margin-top: 75px;
border-radius: 50%;
object-fit: cover;
overflow: hidden;
background-position: center;
background-repeat: no-repeat;
background-image:
		url(/img/eyes.png);	
}
</style>
</head>
<body style="background-color: #e3e2ec;">
	<div class="box">
	<div class="strip">
		<div class="image" >
		</div>
	</div>
	<div class="form-box">	
		<form method="post" th:action="@{/login}">
			<h1 th:text="#{page.login.header}" style="text-align: center;color:#00b1ff;">Please sign in</h1>
			<label for="username" th:class="form-label" th:text="#{page.username}">User name</label>
			<input type="text" id="username" name="username" placeholder="Username"	th:class="form-input" th:placeholder="#{page.username}" required autofocus>
			<label for="password" th:class="form-label" th:text="#{page.password}">Password</label>
			<input type="password" id="password" name="password" placeholder="Password" th:class="form-input" th:placeholder="#{page.password}" required>
			<button type="submit" class="button" th:text="#{page.login}" style="float:right;">Sign in</button>
		</form>
	</div>
</div>
</body>
</html>