<!-- Page with form allow add new rest device -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{smartHomeLayout}">
<head>
<title>Godlike Panel</title>
</head>
<body>
	<span layout:fragment="header" th:onclick="|pageRedirect('/godlikePanel')|" th:text="#{page.title}">Admin Panel</span>

	<div layout:fragment="content">
		<h3 class="info-header" th:text="#{header.triggers}" th:onclick="|pageRedirect('/godlikePanel/triggers')|">Triggers</h3>		
				<div class="device-card" style="margin-bottom: 100px; padding-bottom: 20px;" th:object="${trigger}">
			<div class="center-80">
				<h1>
					<span th:text="${resource.name}+ ' - '">Device Trigger - </span> 
					<span class="data" th:text="${trigger.value}">Trigger value</span>
					<span class="data" style="font-size: 0.5em;" th:text="'('+${trigger.type}+')'">Trigger type</span>				
				</h1>
				<div th:if="${savedTrigger!=null}">
				<div class="separator-blue"></div>
				<div th:each="action,position : ${savedTrigger.triggerActions}" th:class="${position.even}? 'row-light': 'row-dark'" >					
					<h2 class="resource-info">
						<span th:text="${action.resource.name}+' - '">Name - </span>		
						<span class="data" th:text="${action.value}">value</span>			
					</h2>
					</div>
				</div>
				<div class="separator-blue"></div>
				<label class="form-label" th:text="#{label.trigger.new}" >Add trigger action</label>
				<form th:action="@{/godlikePanel/newTriggerFinalize}" th:object="${trigger}"  method="POST">	
				<select class="form-input" th:field="${trigger.actionResourceId}">
						<option th:each="r : ${resources}" th:value="${r.id}" th:text="${r.name}">type</option>				
					</select>		
				<label class="form-label" th:text="#{label.value}">Value</label><br/>
				<input class="form-input" type="text" th:placeholder="#{label.value}" th:field="${trigger.actionValue}" th:name="value" required="required"><br/>	
				<input class="form-button" type="submit" value="Add" th:value="#{label.add}" /><br/>
				<input type="hidden" th:field="${trigger.resourceId}"/>
				<input type="hidden" th:field="${trigger.value}"/>
				<input type="hidden" th:field="${trigger.type}"/>
				<input type="hidden" th:field="${trigger.triggerId}"/>
			</form>	 
				</div>
				</div>
			</div>
</body>
</html>