<!-- Page with form allow add new rest device -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{smartHomeLayout}">
<head>
<title>Godlike Panel</title>
</head>
<body>
	<span layout:fragment="header" th:onclick="|pageRedirect('/godlikePanel')|" th:text="#{page.title}">Admin Panel</span>

	<div layout:fragment="content">
		<h3 class="info-header" th:text="#{header.triggers}" th:onclick="|pageRedirect('/godlikePanel/triggers')|">Triggers</h3>
		<div class="new-device-card">
		<div class="center-80">
			<form th:action="@{/godlikePanel/newTrigger}" th:object="${triggerResponse}"  method="POST">			
				<input class="form-button" type="submit" value="Add" th:value="#{label.add}" /><br/>

				<label class="form-label" th:text="#{label.trigger.type}">Value</label><br/>
					<select class="form-input" th:field="*{type}">
						<option th:each="t,index : ${types}" th:value="${t}" th:text="${languageTypes.get(index.index)}">type</option>				
					</select>
				<label class="form-label" th:text="#{label.trigger.resource}">Value</label><br/>
					<select class="form-input" th:field="*{resourceId}">
						<option th:each="r : ${resources}" th:value="${r.id}" th:text="${r.name}">type</option>				
					</select>
				<label class="form-label" th:text="#{label.value}">Value</label><br/>
				<input class="form-input" type="text" th:placeholder="#{label.value}"  th:field="*{value}" required="required"><br/>			
			</form>	
			</div>		
</div>
	</div>
</body>
</html>