<!-- Administration panel main page -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{smartHomeLayout}">
<head>
<title>Godlike Panel</title>
</head>
<body>
	<span layout:fragment="header" th:onclick="|pageRedirect('/godlikePanel')|" th:text="#{page.title}">Admin Panel</span>

	<div layout:fragment="content">
	<h1 th:text="#{header.triggers}" class="info-header">Triggers</h1>
			<!-- New triggers -->
		<div class="menu-img" 
			th:onclick="|pageRedirect('/godlikePanel/newTrigger')|">
			<div style="border: 2px solid #23c12c;"></div>	
			<div class="name">
				<p><b>+</b></p>
			</div>
		</div>
		<!-- Device triggers -->
		<div class="menu-img" th:each="trigger : ${triggers}"
			th:onclick="|pageRedirect('/godlikePanel/triggers')|">
			<div class="separator-blue"></div>
			<div class="name">
				<p th:text="${trigger.sourceResource.name}+' ('+${trigger.sourceValue}+')'">Trigger</p>
				<a th:href="@{/godlikePanel/deleteTrigger/} + ${trigger.id}" th:text="#{label.delete}" class="button button-clear" style="font-size: 0.6em;" >Delete</a>
			</div>
		</div>
	</div>
</body>
</html>